<div class="container" style="min-height: 15vw">
    <a class="btn btn-success" href="/test">test</a>&nbsp;
    <a class="btn btn-danger" href="/waga">waga</a>&nbsp;
    <a class="btn btn-info" href="/product">product</a>&nbsp;
  </div>
  <router-outlet></router-outlet>


  <div>
    <h2>Post Caller Component</h2>
    <button (click)="getAllPosts()">Get All Posts</button>
    <button (click)="createNewPost()">Create New Post</button>
    <button (click)="updateExistingPost()">Update Existing Post</button>
    <button (click)="deletePost(1)">Delete Post</button>
  </div>

  <div *ngIf="products.length > 0; else empty_list">
    <h1>My Array</h1>
    <div *ngFor="let prod of products; let i = index; let odd = odd">
      <h1 [ngStyle]="{ color: odd ? 'red' : 'blue' }">
        {{ i + 1 }}, {{ prod.desc }}, {{ prod.price }}
      </h1>
    </div>
  </div>
  <ng-template #empty_list> empty list </ng-template>